%p{style: "color: green"}= notice

- content_for :title, "Socks"

%h1 Socks

%div{id: "socks"}
  - @socks.each do |sock|
    = render sock
    %p
      = link_to "Show this sock", sock

= link_to "New sock", new_sock_path
