%h1 Create a new match for your sock!

= form_with(model: @match, action: new_sock_match_path(sock_id: @sock.id)) do |f|
  %div
    = f.label :match_id
    = f.select :match_id, [["", 1],["", 2],["", 3]]